.statsfc_form table {					display: table; width: 100%; border-collapse: collapse; border: 1px solid silver; }
.statsfc_form th,
.statsfc_form td {						text-align: left; padding: 2px 5px; border-bottom: 1px solid silver; }
.statsfc_form thead th {				text-transform: uppercase; font-size: small; background-color: silver; }
.statsfc_form .statsfc_numeric {		text-align: right; }
.statsfc_form .statsfc_highlight td {	font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black; }
.statsfc_form .statsfc_footer {			display: block !important; text-align: right; }

.statsfc_form .statsfc_form_results {		padding: 2px; }
.statsfc_form .statsfc_form_results span {	display: inline-block; width: 1.5em; text-align: center; border-radius: 5px; color: #f8f8f8; }
.statsfc_form .statsfc_w {					background: #2A2; }
.statsfc_form .statsfc_d {					background: orange; }
.statsfc_form .statsfc_l {					background: #F33; }

.statsfc_form .statsfc_team {	width: 100%; background-repeat: no-repeat; background-position: center left; background-size: 20px 20px; line-height: 25px; padding-left: 25px !important; }